pkgbase = libdsc
	pkgdesc = A collection of generic data structures implemented in C11
	pkgver = 0.1.0_alpha
	pkgrel = 1
	url = https://github.com/yourusername/libdsc
	arch = x86_64
	license = GPL3
	makedepends = cmake
	depends = glibc
	source = libdsc-0.1.0_alpha.tar.gz::https://github.com/yourusername/libdsc/archive/v0.1.0-alpha.tar.gz
	sha256sums = SKIP

pkgname = libdsc
